 <!-- <div _ngcontent-mcf-c512="" class="component-page-header docs-primary-header"><button _ngcontent-mcf-c512="" mat-button="" class="sidenav-toggle mat-button mat-button-base"><span class="mat-button-wrapper"></span><div matripple="" class="mat-button-ripple mat-ripple"></div><div class="mat-button-focus-overlay"></div></button><h1 _ngcontent-mcf-c512="" focusonnavigation="" tabindex="-1"> <mat-tab-group animationDuration="0ms"> --> 
        <!-- <mat-tab-group> 
        <mat-tab label="homepage"></mat-tab>
        <mat-tab (click)='moveto("posts")'label="post"></mat-tab>
        <mat-tab (click)='moveto("todo")' label="todo"></mat-tab>
      </mat-tab-group>
      </h1></div> 
      <mat-tab-group>   
        <mat-tab label="homepage"></mat-tab>
      <mat-tab (click)='moveto("posts")'label="post"></mat-tab>
      <mat-tab (click)='moveto("todo")' label="todo"></mat-tab>
    </mat-tab-group> -->
    
    <!-- <mat-tab-group animationDuration="0ms">
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
          </mat-tab-group> -->
 

<button (click)='moveto("posts")' >movetoposts </button>
<button (click)='moveto("todo")' >move to todo </button>