
<h1>wolcom to page add user</h1>

<div class="example-container">
    <form [formGroup]='newuser' >
        <mat-form-field>
          <input formControlName="id" matInput placeholder="id">
     </mat-form-field> <br>

     <mat-form-field>
          <input formControlName="name" matInput placeholder="name">
     </mat-form-field> <br>
      
     <mat-form-field>
            <input  formControlName="username"matInput placeholder="username">
       </mat-form-field> <br>
       <mat-form-field>
        <input  formControlName="email"matInput placeholder="email">
   </mat-form-field> <br>
       <div formGroupName="address">

    <mat-form-field>
            <input formControlName="street" matInput placeholder="street">
    </mat-form-field> <br>
    <mat-form-field>
        <input formControlName="suite" matInput placeholder="suite">
       
   </mat-form-field> <br>
   <mat-form-field>
    <input formControlName="city" matInput placeholder="city">
   </mat-form-field> <br>
   <mat-form-field>
    <input formControlName="zipcode" matInput placeholder="zipcode">
   </mat-form-field> <br>
   </div> 

</form>
<button (click)= 'adduser()' mat-raised-button>adduser</button>
      
       
      </div> 
