
<h1>wolcom to page add todo</h1>

<div class="example-container">
    <form [formGroup]='newtodo' >
        <mat-form-field>
          <input formControlName="userId" matInput placeholder="userid">
     </mat-form-field> <br>

     <mat-form-field>
          <input formControlName="id" matInput placeholder="Id">
     </mat-form-field> <br>
      
     <mat-form-field>
            <input  formControlName="title"matInput placeholder="title">
       </mat-form-field> <br>

    
    <!-- <mat-checkbox  (click)="complet()" class="example-margin">Checked</mat-checkbox> -->
</form>
<button (click)= 'addtodo()' mat-raised-button>addtodo</button>
      
       
     </div>
    
