<div _ngcontent-mcf-c512="" class="component-page-header docs-primary-header"><button _ngcontent-mcf-c512="" mat-button="" class="sidenav-toggle mat-button mat-button-base"><span class="mat-button-wrapper"></span><div matripple="" class="mat-button-ripple mat-ripple"></div><div class="mat-button-focus-overlay"></div></button><h1 _ngcontent-mcf-c512="" focusonnavigation="" tabindex="-1">wolcom to page users </h1></div>
<p *ngIf ="svc.data" >
    <mat-accordion  *ngFor="let u of svc.data " >
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
             name : {{u.name}}
          </mat-panel-title>
          <mat-panel-description>
             id : {{u.id}} 
          </mat-panel-description>
        </mat-expansion-panel-header>
       <app-user [user]='u'></app-user>
       
        
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        
      </mat-expansion-panel>
    </mat-accordion>
      </p>
