<div _ngcontent-mcf-c512="" class="component-page-header docs-primary-header"><button _ngcontent-mcf-c512="" mat-button="" class="sidenav-toggle mat-button mat-button-base"><span class="mat-button-wrapper"></span><div matripple="" class="mat-button-ripple mat-ripple"></div><div class="mat-button-focus-overlay"></div></button><h1 _ngcontent-mcf-c512="" focusonnavigation="" tabindex="-1">wolcom to page add photos </h1></div> 


<div class="example-container">
    <form [formGroup]='newphoto' >
        <mat-form-field>
          <input formControlName="albumId" matInput placeholder="albumId">
     </mat-form-field> <br>

     <mat-form-field>
          <input formControlName="id" matInput placeholder="Id">
     </mat-form-field> <br>
      
     <mat-form-field>
            <input  formControlName="title"matInput placeholder="title">
       </mat-form-field> <br>
       <mat-form-field>
        <input  formControlName="url"matInput placeholder="url">
   </mat-form-field> <br>



    
   
</form>
<button (click)= 'addphotos()' mat-raised-button>addphoto</button>
      
       
     </div>
    
