<div _ngcontent-mcf-c512="" class="component-page-header docs-primary-header"><button _ngcontent-mcf-c512="" mat-button="" class="sidenav-toggle mat-button mat-button-base"><span class="mat-button-wrapper"></span><div matripple="" class="mat-button-ripple mat-ripple"></div><div class="mat-button-focus-overlay"></div></button><h1 _ngcontent-mcf-c512="" focusonnavigation="" tabindex="-1">wolcom to page posts </h1></div> 
    
<form class="example-form">
    <mat-form-field class="example-full-width">
     <input (input) = 'title=$event.target.value'  matInput placeholder="serch by title" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input (input) = 'body=$event.target.value' matInput placeholder="serch by body" value="">
      </mat-form-field>
   
        <mat-form-field class="example-full-width">
          <input (input) ='userid=$event.target.value'  matInput placeholder="serch by userid" value="">
        </mat-form-field> 
           <mat-form-field class="example-full-width">
        <input (input) = 'id=$event.target.value'  matInput placeholder="serch by id" value="">
      </mat-form-field>
       
  
    
       
  </form>

  
  <button (click)= 'postofmyuser()' mat-raised-button>postmyuser</button>
  
  <button (click)= 'pageaddpost()' mat-raised-button>addpost</button>

  <button (click)= 'allpost()' mat-raised-button>allpost</button>
  
  


   <div *ngIf = "sves.data"> 
      <p *ngIf ="svc.data" >
<mat-accordion  *ngFor="let p of svc.data | pipe1 : title : body : id : userid " >

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
         name : {{sves.getname(p.userId)}}
      </mat-panel-title>
      <mat-panel-description>
         username : {{sves.getusername(p.userId)}} 
      </mat-panel-description>
    </mat-expansion-panel-header>

      <app-posts [post]='p'></app-posts>
    
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    
  </mat-expansion-panel>
</mat-accordion>
  </p>
 





 



<!-- <h1>wolcom to posts</h1>
     <ul *ngIf="svc.data"> 
         <li *ngFor="let p of svc.data">
               {{p.userId}}
               {{p.id}}
               {{p.title}}
               {{p.body}}
        </li> 


     </ul> -->
